<%- include('includes/head.ejs') %>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="./Stylesheets/results.css" rel="stylesheet"/> 
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <div class="container plant-bg">
        <h1><%=plant[0].name%> care guide</h1>
        <img class="plant-img" src=<%=image%> alt=<%=plant[0].name +'_image_not_found'%>
        <p><strong>Watering: </strong> <%=plant[0].waterInfo%></p>
        <p><strong>Sunlight: </strong><%=plant[0].sunLightInfo%></p>
        <p><strong>Pruning: </strong><%=plant[0].pruningInfo%></p>
        <hr>
        <p><strong>Times Searched: </strong><%=plant[0].timesSearched%></p>
        <p class="back-to-login">Go back to <a href="/">Home</a></p>
    </div>

<%- include('includes/end.ejs') %>